<!DOCTYPE html>
{% import 'helper_macros.html' as helpers %}
<html lang="en">
<head style="overflow-y: auto">
	<title>KWoC 2018</title>
	{{ helpers.title() }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body style="overflow-y: auto">
	<!--section for snow effect-->
	{{ helpers.snow_css() }}
	<div class='snow-container'>
		<div class="snow snow--near"></div>
										<div class="snow snow--near snow--alt"></div>
										 <div class="snow snow--mid"></div>
										<div class="snow snow--mid snow--alt"></div>
										<div class="snow snow--far"></div>
										<div class="snow snow--far snow--alt"></div>
											<div class="opacity-full bg-dark-gray" style="opacity: 0.5"></div>
		</div>
	</div>
	<!-- end of section of snow effect -->
	<div >
	<div class="size1 overlay1">
		<!--  -->
		<div class="size1 flex-col-c-m p-l-15 p-r-15 p-t-25 p-b-5">
			<h1 class="text-white font-weight-bold txt-center">
				Kharagpur Winter of Code 2018<br/><br/>
			</h1>

			<p class="m2-txt1 txt-center p-b-25">
				Hold Up! You are swift; we aren't!
				<br/>
				<br/>
				However, we'll come finding you soon, just drop your details!
				<!--KWoC 2018 Mentor and Student Registrations coming soon!-->
				<!--Keep following the page for updates.-->
			</p>

			<div class="flex-w flex-c-m cd100 p-b-10">
				<div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
					<span class="l2-txt1 p-b-9 days">33</span>
					<span class="s2-txt1">Days</span>
				</div>

				<div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
					<span class="l2-txt1 p-b-9 hours">17</span>
					<span class="s2-txt1">Hours</span>
				</div>

				<div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
					<span class="l2-txt1 p-b-9 minutes">50</span>
					<span class="s2-txt1">Minutes</span>
				</div>

				<div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
					<span class="l2-txt1 p-b-9 seconds">39</span>
					<span class="s2-txt1">Seconds</span>
				</div>
			</div>

			<form id="form" onsubmit="event.preventDefault(); send(form);" class="w-full flex-w flex-c-m">

				<div class="wrap-input100 validate-input where1">
					<input class="input100 placeholder0 s2-txt2" type="text" name="name" placeholder="Enter Your Name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input where1" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input100 placeholder0 s2-txt2" type="email" name="email" placeholder="Enter Email Address" required>
					<span class="focus-input100"></span>
				</div>

				<button id="submit-form" class="flex-c-m size3 s2-txt3 how-btn1 trans-04 where1">
					Subscribe
				</button>
			</form>
			
			

			<div>
				<h2 class="text-white font-weight-bold txt-center p-t-10 p-b-25">
					Looking to apply as a mentor?
				</h2>

				<div class="w-full flex-w flex-c-m vertical-center">
					<p class="m2-txt1 txt-center align-middle p-b-25">
						Project registrations are now open:   
						<a href="/mentor_form" class="btn btn-success font-weight-bold">Apply now!</a>
					</p>
					<!--<input type="submit" class="flex-c-m size3 s2-txt3 how-btn1 trans-04 where1" value="Apply now!" />-->
				</div>
			</div>

		</div>
	</div>

<!--===============================================================================================-->
	<script src="../static/js/form-submit.js"></script>
<!--===============================================================================================-->


<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/moment.min.js"></script>
	<script src="../static/vendor/countdowntime/moment-timezone.min.js"></script>
	<script src="../static/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
	<script>
		$('.cd100').countdown100({
			/*Set Endtime here*/
			/*Endtime must be > current time*/
			endtimeYear: 2018,
			endtimeMonth: 11,
			endtimeDate: 26,
			endtimeHours: 11,
			endtimeMinutes: 59,
			endtimeSeconds: 59,
			timeZone: ""
			// ex:  timeZone: "America/New_York"
			//go to " http://momentjs.com/timezone/ " to get timezone
		});

		$("#submit-form").click(function() {
  			$("#submit-form").addClass('button-clicked');
		});
	</script>
<!--===============================================================================================-->
	<script src="../static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

</body>
</html>
