<!DOCTYPE html>
{% import 'helper_macros.html' as helpers %}
<html lang="en">
<head>
	<title>KWOC 2018</title>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="5; url=./">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/loading-bar.css"/>
	<script type="text/javascript" src="../static/js/loading-bar.js"></script>
<!--===============================================================================================-->

	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<!--section for snow effect-->
	{{ helpers.snow_css() }}
	<div class="snow"
	<div class="snow snow--near"></div>
                  <div class="snow snow--near snow--alt"></div>
                   <div class="snow snow--mid"></div>
                  <div class="snow snow--mid snow--alt"></div>
                  <div class="snow snow--far"></div>
                  <div class="snow snow--far snow--alt"></div>
                    <div class="opacity-full bg-dark-gray" style="opacity: 0.5"></div>
	</div>
	<!-- end of section of snow effect -->


	<div >
	</div>

	<div class="size1 overlay1">
		<!--  -->
		<div class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
			<h3 class="l1-txt1 txt-center p-b-25">
				THANK YOU!
			</h3>

			<p class="m2-txt1 txt-center p-b-48">
				Thank you for subscribing for the updates of KWOC 2018. We will inform you about the mentor and student registrations.
			</p>
			<br>
			<p>
				<img src="../static/images/loader.svg" style="width:200px;height:200px;">
			</p>

<!--===============================================================================================-->
	<script src="../static/endor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>

</body>
</html>
