* {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

h1, h2, h3, h4, h5, h6 {
	text-transform: none;
}

.grid .col2 {
	width: 40%;
	padding: 0 10px 0 0;
}
.grid .col2.first {
	float: left;
}
.grid .col2.last {
	float: right;
}

.grid .col3 {
	width: 20%;
	float: left;
	/* margin-right: 11px; */
	border: none;
}
/* profile page */


.innerwrap {
    width:70%;
    margin: 0 auto;
}

.section1 {
	background: whitesmoke;
	position: relative;
	border-radius: 2px;
}
.section1 div .row:first-child {
	padding: 10px;
}


.section1 .col2.first img {
	border-radius: 50%;
	margin: 0 20px;
	width: 120px;
	border:2px solid #f1f1f1;
	padding: 2px;
	float: left;
}
.section1 .col2.first {
	line-height: 25px;
	position: relative;
	border-right:1px solid #a2a2a2;
}
.section1 .col2.first h1 {
    font-weight: normal;
    margin-bottom: 10px;
	text-transform: capitalize;
}
.section1 .col2.first p {
	font-size: 14px;
}
.section1 .col2.first span {
	position: absolute;
    right: 15px;
    top: 16px;
    background: #6AAFEA;
    padding: 5px 11px;
    font-size: 12px;
    line-height: 1;
    border-radius: 2px;
    color: #fff;
  cursor:pointer;
}

.section1 .col2.last {
	padding: 8px 0;
}
.section1 .col2.last .col3 span {
    color: #a2a2a2;
    font-size: 14px;
}
.section1 .col2.last .col3 h1 {
    color: #03A9F4;
}
.section1 .col1{
  width: 100%;
}
.section1 .col2.last .col3 {
    text-align: center;
    line-height: 30px;
}
.section1 .col2.last .col3.last {
	border-right: 0;
}
.section1 .clearfix{
  padding:10px 0;
}
.tags {
	margin: auto;
	text-align: center;
	padding: 1em 1em;
  /* transform: translate(10%); */
  	margin-bottom: 2em;
}

.main-links {
	list-style: none;
}

.main-links li {
	background: none;
	/* margin-bottom: 1.5rem; */
	float: none;
	width: auto;
}

.main-link {
	font-size: 1rem;
	padding: 1rem;
	text-decoration: none;
	border-radius: 5px;
	background-color: rgb(53, 107, 255);
	color: white;
}

.main-link:hover {
	background-color: rgb(0, 64, 121);
}


.tag-div ul {
	margin-bottom: 2rem;
	/* padding-left: 20%; */
	/* padding-top: 2rem; */
	/* left: 2rem; */
}

.tag-div h3 {
	margin: 0.5rem;
}

.tag-div .project-tag {
	font-size: 16px;
	padding: 0.5rem;
	border-radius: 5px;
}

.project-tag:hover {
	background-color: #6AAFEA;
	color: white;
}
.tag-div {
	margin-left: 40%;
}

.profile-intro {
	margin-right: 2rem;
	text-align: center; 
}

.profile-intro h1 {
	text-transform: none;
	font-size: 28px;
}

.profile-intro p {
	font-size: 20px;
}

.custom {
  width: 100%;
  margin: 0 auto;
}
.tags li {
	display: inline-block;
	padding: 4px 4px;
	color: #000;
	font-weight: 100;
	text-decoration: none;
	font-family: "Open Sans";
	font-size: 15px;
	background: #CCC;
	margin: 4px 4px;
	border-radius: 15px;
}

@media only screen and (max-width: 1300px) {
	.innerwrap {
		width: 70%;
	}
	.section2 .col3 {
		margin-right: 5%;
	}
	.section1 .grid .col3 {
		margin-right: 2%;
	}
}

	.section1 .col2 {
		width: 80%;
		margin: 2% 10%;
		border-right:0 !important;
		padding: 0;
	}

	.section2 .col3 {
		width: 100%;
		float: none !important;
		margin-bottom: 10px;
	}
	.section1 .col2.first {
		text-align: center;
	}
	.section1 .col2.first img {
		display: inline-block;
		float: none;
	}
	.section1 .col2.first span {
		position: relative;
		right: 0;
	}
  .section1 .col2.last {
    margin-top: 3rem;
  }

.tut-links li {
	/* text-align: center; */
	width: 100%;
	/* display: inline-block; */
}
.tut-links a {
	text-align: center;
	display: inline-block;
	padding: 16px 20px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	background: #2196F3;
	margin: 8px;
	border-radius: 5px;
	text-transform: none;
	letter-spacing: 0;
	width: 100%;
}
.tut-links a:hover{
	background-color: #0D47A1;
	color: #fff;
}

.prjt-rel {
	text-align: center;
	display: inline-block;
	padding: 16px 20px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	background: #00ACC1;
	margin: 8px;
	border-radius: 5px;
	text-transform: none;
	letter-spacing: 0;
	width: 100%;
}
.prjt-rel:hover{
	background-color: #0097A7;
}

li.project-tags {
	color: #fff;
	background-color: #03A9F4;
	/* width: 32% !important; */
	border: 2px #03A9F4 solid;

	padding: 7px 0;
	font-size: 18px;
}

li.project-tags:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	/* background: linear-gradient(180deg, #03A9F4, rgb(2, 133, 194)); */
	border: 2px white solid;
}

li.project-tags:focus {
	color: #999;
}
li.language-tags {
	color: #fff;
	background-color: #00BCD4;
}

span.project-name {
	color: #573C59;	
	font-style: italic;
}

li.commits-list {
	color: #4e727c;
}

li.commits-list:hover {
	color: #000;
}

.grid li {
	width: 24%;
}

.grid li.project-tags {
	width: 32%;
}

h2 {
	margin-bottom: 1em;
	color: #37474F;
	font-weight: bolder;
}

h3 {
	color: #fff;
}

@media only screen and (max-width: 450px) {
	.section1 .col2.last .col3 span {
		font-size: 10px;
	}
	.section1 .col2.last .col3 h1 {
		font-size: 18px;
	}
	.grid .col3 {
		width: 100% !important;
	}
}

@media only screen and (max-width: 800px) {
	.tag-div{
		margin-left: 0;
	}
	.col3 {
		width: 48% !important;
	}
}