
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #41485F;
  border-radius: 50%;
  border-top: 16px solid #D2A9EC;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
    background-color: #363C4F;
}

html, body, #page, .landing {
    min-height: 100%;
    height: 100%;
}

#page {
    display: none;
}

#after-text {
    opacity: 0;
    transition: all 1s;
    padding-bottom: 5rem;
}

#my-svg {
    transition: all 1s;
}

.landing .navbar {
    width: 100%;
}

.navbar-expand-lg .navbar-collapse {
    display: block !important;
}

.navbar ul {
    float: right;
}

.landing, .bg-dark{
    background-color: #363C4F !important;
    color: #A6AFD3;
}


.landing {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.landing-text {
    text-align: center;
}

.landing-text h1 {
    font-weight: bolder;
    font-size: 6rem;
}

.landing-text .color-text{
    color: #D2A9EC;
}

.landing-text .btn-outline-primary {
    border-color: #D2A9EC;
    color: #D2A9EC;
}

.landing-text .btn-outline-primary:hover {
    color: #363C4F;
    border-color: #D2A9EC;
    background-color: #D2A9EC;
}

.landing-text .btn-outline-primary:active {
    color: #363C4F;
    border-color: #c78deb;
    background-color: #c78deb;
}

.landing-text .btn-outline-primary:focus {
    color: #363C4F;
    border-color: #c78deb;
    background-color: #c78deb;
}