/* LOADER */
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #41485F;
  border-radius: 50%;
  border-top: 16px solid #D2A9EC;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* THEMING */

:root {
    --main-color: #60418C;
    --dark-main-color: #2E1E3F;
    --light-main-color: #8263A6;
}

.btn-outline-primary {
    border-color: var(--main-color);
    color: var(--main-color);
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: var(--main-color);
    background-color: var(--main-color);
}

.btn-outline-primary:active {
    color: #fff;
    border-color: var(--dark-main-color);
    background-color: var(--dark-main-color);
}

.btn-outline-primary:focus {
    color: #fff;
    border-color: var(--dark-main-color);
    background-color: var(--dark-main-color);
}

/* Basic Body Styling */

body {
    background-color: #363C4F;
    color: rgb(81, 70, 99);
}

html, body, #page, .landing {
    min-height: 100%;
    height: 100%;
}

#page {
    display: none;
}

#after-text {
    display: none;
    opacity: 0;
    transition: all 1s;
    padding-bottom: 5rem;
}

#my-svg {
    transition: all 1s;
}

/* NAVBAR */
.navbar {
    z-index: 100;
    /* position: fixed; */
    width: 100%;
    /* top: 0; */
}
.navbar-dark .navbar-toggler {
	color: var(--light-main-color);
	border-color: var(--light-main-color);
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(130, 99, 166)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-nav .nav-link {
    transition: all 500ms;
    color: var(--light-main-color);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--main-color);
}

@media (min-width: 992px) { 
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }
    .navbar ul {
        float: right;
    }
}


/* Landing DIV */
.landing, .bg-dark{
    background: url("/static/images/background-oss.jpg") !important;
    background-size: cover !important;
    color: var(--light-main-color);
}


.landing {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.landing-text {
    text-align: center;
}

.landing-text h1 {
    font-weight: bolder;
    font-size: 6rem;
}

.landing-text .color-text{
    color: #D2A9EC;
}

.landing-text .btn-outline-primary {
    border-color: #D2A9EC;
    color: #D2A9EC;
}

.landing-text .btn-outline-primary:hover {
    color: #363C4F;
    border-color: #D2A9EC;
    background-color: #D2A9EC;
}

.landing-text .btn-outline-primary:active {
    color: #363C4F;
    border-color: #c78deb;
    background-color: #c78deb;
}

.landing-text .btn-outline-primary:focus {
    color: #363C4F;
    border-color: #c78deb;
    background-color: #c78deb;
}


/* About */

.about-event {
    padding: 6rem 1rem;
}

.about-event h1 {
    color: var(--light-main-color);
    font-weight: normal;
    font-size: 4rem;
    padding: 2rem 0 1rem;
}


.about-event h3 {
    margin: 1rem 0;
}

.about-event .btn {
    margin: 1rem 0;
}
.about-event .features {
    padding: 3rem 0 0;
}
.about-event .feature {
    padding-top: 1rem;
}
.about-event h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

.about-event span {
    /* float: left; */
    font-size: 64px;
    padding: 0 2rem;
    color: var(--main-color);
}

@media (max-width: 768px) { 
    .about-event .features {
        padding: 1rem 0 0;
    }
}

/* CONTACT */

#contacts {
    padding: 6rem 1rem;
}

#contacts h1 {
    color: var(--light-main-color);
    font-weight: normal;
    font-size: 4rem;
    padding: 2rem 0 1rem;
}
#contacts span {
    /* float: left; */
    font-size: 64px;
    padding: 0 2rem;
    color: var(--main-color);
}
#contacts .contact {
    text-align: center;
}
#contacts .contact h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 5rem 0rem 3rem;
    background: url('/static/images/background-oss.jpg');
    background-size: cover;
    color: var(--light-main-color);
}
