<!doctype html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/static/images/kwoc_logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>End-Term Evaluation | Students</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/lodash.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/mid-term-student.css">
</head>
<body>
  <div class="form-wrapper">
    <div class="header">
      <h1>End-Term Evaluation | Students</h1>
    </div>
    <div class="instructions">
      <p><b>Please read the instructions before you proceed :</b></p>
      <br>
      <ul>
        <li><b>If you do not submit this evaluation, your participation will not successful.</b></li>
        <li>This form is supposed to be filled by KWoC students only, who passed the mid-term evaluation. See <a href="/stats">Stats board</a> to check if you are a part of the program.</li>
        <li>Regarding "URL for your KWoC report": It has to be a link to either a blog post or a document which will be your final KWoC 2018 report. You can choose any blogging platform you want. Few examples are Medium.com, WordPress, GitHub static pages and Blogspot. The report can be as descriptive as you want, but must contain at least the following points : <ul>
          <li>List of projects you worked on</li>
          <li>List of Pull Requests you created or got involved in</li>
          <li>Summary of your work</li></ul></li>
        <li>Check out some good examples of end-term reports :
          <a href="https://medium.com/@yashrsharma44/kwoc-project-report-c337e7222246" target="_blank">Example 1</a>
          <a href="https://drive.google.com/file/d/1tAW5MvWWxAdeDREvnPhlorodQRfruzBt/view" target="_blank">Example 2</a>
          <a href="https://medium.com/@nilaypathak/kwoc-kharagpur-winter-of-code-project-report-921c5db3ee71" target="_blank">Example 3</a>
          <a href="https://github.com/kwoc/2016/blob/master/static/files/arindam.pdf" target="_blank">Example 4</a>
        </li>
        <li><b>Last date to submit the evaluation is January 15th, 2019 23:59 IST (GMT +5:30). Submit the link to your report. Make sure that the link for your report is publicly accessible. </b></li>
      </ul>
    </div>
    <div class="form-class">
      <form id="form" onsubmit="event.preventDefault(); send(form);">
        <div class="form-item">
          <label for="name">Name</label>
          <input id="name" type="name" name="name" required="required" placeholder="Your Name" autocomplete="on"  onfocus="hideWarning();"></input>
        </div>
        <div class="form-item">
          <label for="email">Email Address</label>
          <input id="emailid" type="email" name="email" required="required" placeholder="" value = {{email}} autocomplete="on" readonly="readonly" onfocus="hideWarning();"></input>
        </div>
        <div class="form-item">
          <label for="github">Github Username</label>
          <input id="gh_username" type="text" name="gitlink" required="required" placeholder="" value="{{gitlink}}" autocomplete="off" readonly="readonly" onfocus="hideWarning();"></input>
        </div>
        <div class="form-item">
          <label for="reporturl">URL for your KWoC report <b>DO NOT COPY PASTE THE ENTIRE REPORT and MAKE SURE THE REPORT IS PUBLICLY ACCESSIBLE </b></label>
          <input type="url" name="evaluation" required placeholder="" autocomplete="off" />
        </div>
        <div class="form-item">
          <label for="question1">On average, how many hours a week have you spent working on your project(s) in KWoC?</label>
          <input type="text" name="question2" required placeholder="" autocomplete="off" />
        </div>
        <div class="form-item">
          <label for="question2">Has KWoC helped improve your programming skills?</label>
          <input type="text" name="question3" required placeholder="" autocomplete="off" />
        </div>
        <div class="form-item">
          <label for="question3">Would you consider being a mentor for KWoC next year?</label>
          <input type="text" name="question4" required placeholder="" autocomplete="off" />
        </div>
        <div class="form-item">
          <label for="question4">What advice would you give to students participating in KWoC in the future?</label>
          <input type="text" name="question5" required placeholder="" autocomplete="off" />
        </div>
        <div class="form-item">
          <label for="question5">Anything else you'd like to tell Kharagpur Open Source Society or suggestions on how to improve the program?</label>
          <input type="text" name="feedback" required placeholder="" autocomplete="off" />
        </div>
        <div>
          <p id="warning"></p>
        </div>
        <div class="button-container">
          <div class="button-panel">
            <input class="button" type="submit" value="Submit" title="Submit"></input>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="reg_title"></h4>
        </div>
        <div class="modal-body">
          <p style="font-size:15px;" id="reg_msg"></p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">You are successfully registered as a student.</button> -->
          <!-- <button type="button" class="btn btn-default" onclick="window.close();">Close Tab</button> -->
        </div>
      </div>
    </div>
  </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/lodash.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/sha1.js"></script>
<script type="text/javascript">
  $('#warning').hide()

  function send(form) {
    var request = new XMLHttpRequest();
    var data = new FormData(form);
    var url = "https://script.google.com/macros/s/AKfycbzk236_gNPhAt_T5AZVCkGPPJ4q8yL-ifS7gbODKItHc67clVQ/exec";
    request.onreadystatechange = function() {
    console.log(request.readyState);
    console.log(request.status);
    console.log(request.content);
    if (request.readyState === 4) {
      console.log(request.status)
          if (request.status === 200) {
              $(".modal-title").html("Submission Successful");
              $("#reg_msg").html("You have successfully submitted your End-Term evaluation.");
              $('#myModal').modal('show');

              window.setTimeout(function () {
                    window.location.href = "/dashboard";
                }, 5000);
              } else {
                $(".modal-title").html("Submission Failed");
              $("#reg_msg").html("Please contact us at kwoc@kossiitkgp.org regarding the same. We will resolve it ASAP");
              $('#myModal').modal('show');
              }
          }
      };
    console.log("Hi")
    request.open("POST", url , true);
    request.send(data);
    $(".modal-title").html("Processing");
    $("#reg_msg").html('<img src="/static/images/loader.gif"> </img>');
    $('#myModal').modal('toggle');
    // form.reset()
    return true;
  }

  function hideWarning() {
    $('#warning').hide()
  }
</script>

</html>
