
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Open Source Summit 2018 | KWoC 2017</title>
        <!-- description -->
        <meta name="description" content="Kharagpur Open Source Summit is a conference organized at IIT Kharagpur as an extension of Kharagpur Winter of Code by Kharagpur Open Source Society (KOSS) to promote the culture of Open Source in association with Kshitij (KTJ)">
        <!-- keywords -->
        <meta name="keywords" content="KWoC, KOSS, summit, open source, Kharagpur Open Source Society, IIT, Kharagpur, Kshitij, KTJ">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="shortcut icon" href="/static/images/kwoc_logo.png">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- style -->
        <link rel="stylesheet" href="/static/css/summit-style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="/static/css/summit-responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

    </head>


<body onload="myFunction()">

    <div id="loader"></div>

    <div id="page">
        <div class="container-fluid bg-dark landing">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <a class="navbar-brand" href="#">
                    <img src="/static/images/kwoc_logo.png" width="60" height="60" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Speakers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="landing-text">
                <h1>Open Source Summit</h1>
                <p class="time">20<sup>th</sup> - 21<sup>st</sup>January</p>
                In Association with <a target="_blank" href="http://www.ktj.in/"><img style="height: 30px" src="/static/images/ktj.png"></a>
                <br>
                <br>
                <a type="button" href="/summit/register" class="btn btn-outline-primary btn-lg">Register</a>
            </div>
            <div>
                <!-- Just to align stuff -->
            </div>
        </div>
    
        <div class="container">
            <h2>About Event</h2>
    
        </div>
    </div>

    <!-- javascript libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- setting -->
    <script type="text/javascript" src="/static/js/main-summit.js"></script>
</body>


</html>
